<!--The content below is only a placeholder and can be replaced.-->
<!-- <div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img
    width="300"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div> -->

<p-dataView
  #dv
  [value]="games"
  [paginator]="true"
  [rows]="20"
  paginatorPosition="both"
  filterBy="brand"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
>
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown
            [options]="sortOptions"
            [(ngModel)]="sortKey"
            placeholder="Sort By"
            (onChange)="onSortChange($event)"
            [style]="{'min-width':'140px'}"
          ></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input
              type="search"
              pInputText
              placeholder="Search by brand"
              (input)="dv.filter($event.target.value)"
            />
          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-game pTemplate="listItem">
    <div class="ui-g-12">
      <div class="car-details">
        <div>
          <div class="ui-g">
            <div class="ui-g-12">Name: <b>{{game.Name}}</b></div>
            <div class="ui-g-12">Year: <b>{{game.Name}}</b></div>
            <div class="ui-g-12">Platform: <b>{{game.Platform}}</b></div>
            <div class="ui-g-12">Publisher: <b>{{car.Publisher}}</b></div>
          </div>
        </div>
        <button
          pButton
          type="button"
          icon="pi pi-search"
          (click)="selectCar($event, car)"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-car pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="car.vin" [style]="{'text-align':'center'}">
        <div class="car-detail">{{game.Year}} - {{car.Name}}</div>
        <hr class="ui-widget-content" style="border-top:0" />
        <button
          pButton
          type="button"
          icon="pi pi-search"
          (click)="selectCar($event, car)"
          style="margin-top:0"
        ></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog
  header="Car Details"
  [(visible)]="displayDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{width: '225px'}"
  (onAfterHide)="onDialogHide()"
>
  <div class="ui-g" *ngIf="selectedCar">
    <div class="ui-g-4">Name:</div>
    <div class="ui-g-8">{{selectedCar.Name}}</div>

    <div class="ui-g-4">Publisher:</div>
    <div class="ui-g-8">{{selectedCar.Publisher}}</div>

    <div class="ui-g-4">Year:</div>
    <div class="ui-g-8">{{selectedCar.Year}}</div>

    <div class="ui-g-4">Platform:</div>
    <div class="ui-g-8">{{selectedCar.Platform}}</div>
  </div>
</p-dialog>
